.navbar{
    background-color: var(--white-theme-nav-background-color);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;

  &__Container{
    display: flex;
    align-items: center;
    width: 100%;
    height: inherit;
    padding: 0px 20px;
    flex: 1;
  

 &__logo{
        color: var(--white-theme-main-color);
        cursor: pointer;
 }
    

    &__Menu{
        display: flex;
        list-style: none;
        text-align: center;
    

    &__MenuItem{
        line-height: 40px;
        margin-right: 1.5rem;
        font-size: 1.6rem;
     

       &::after{
        content: '';
        display: block;
        height: 3px;
        width: 0;
        background: transparent;
        transition: all 0.5s ease;
       }

       &:hover::after{
        width: 100%;
        background: var(--white-theme-main-color);
         
       }
         &__Link{
            color: var(--white-theme-main-color);
            text-decoration: none;
            padding: 0.5rem;
            
         }
         }
        }
    }
}
    .navIcon{
        display: none;
    }
   
   


   @media only screen and (max-width: 768px){
    .navbar__Container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        border-top: 1px solid white;
        position: absolute;
        top: 80px;
        left: -110%;
        opacity: 1;
        transition: all  0.5s  ease;
    

    &.active{
        background-color: black;
        left: 0px;
        opacity: 1;
    }

   &__MenuItem{
    border-bottom: 1px  solid  beige;
    margin: 0px;
    padding: 20px  0px;
    }
    .navIcon{
        display: block;
        cursor: pointer;
        color:var(--white-theme-main-color) ;
        padding-right: 20px;
    }
   }
}
  
